.mdiv{
    position: absolute;top: 20%;left: 35%;border: 1px solid black;
    border-radius: 10px;box-shadow: 5px -2px 2px  gray;
    height: 400px;width: 400px;background-color: green;
}
.logo{margin-left: 140px;color: white;}
.operator{font-size: 20px;}
.display{
    height: 50px;width: 380px;border-radius: 10px;margin-left: 5px;padding: 5px;font-size: 20px;
    background-color: white;border: none;text-align: right;color: black;
}
.div1{
    margin-left: -4px;
}
.button{
    height: 50px;width: 80px;background-color: white ;border-radius: 15Px;margin-left: 15px;
    margin-top: 10px;border: none;font-size: 20px;cursor: pointer;
}
.button:hover{
   background-color:blue;color: white;
}
